run = "javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -d . Main.java entidade/Cliente.java entidade/Conta.java regra/Operacao.java ; java -classpath .:/run_dir/junit-4.12.jar:target/dependency/* Main"